body {
    background-color: #141414;
}
/* ----------------------------------------- */

#sliderMargin{
    margin-top: 0rem !important;
}

.pageBody {
    background: url("https://occ-0-4609-116.1.nflxso.net/dnm/api/v6/6AYY37jfdO6hpXcMjf9Yu5cnmO0/AAAABcyuh-KNCK3VIIWTdUmEuX8xd8mzHedzUpGdjWIPWIv-962RSoR78qAw7qNF6YXOSbAAwJNkG4jM05rqExrY3hr-eqVSeXN0-mzB.webp?r=565") no-repeat;
    background-size: 100% 45vw !important;
    margin-top: 0px;
}

#videoBtns {
    /* height: 00px; */
    width: 100%;
    margin: 0px !important;
    /* background-color: aqua; */
}

#rowDesc {
    margin: 0px !important;
    padding: 0px !important;
}

#vedioDesc {
    margin-top: 10%;
    margin-left: 5%;
    margin-right: 0px !important;
    padding: 0px !important;
}

#vedioDesc>img {
    width: 40vw;
}

#btnsV1 {
    background-color: rgba(255, 255, 255, 1);
    margin-left: 0px;
    width: 13.5rem;
    height: 3.5rem;
    padding: 0.3rem;
    font-size: 1.3rem;
}
#btnsV1 img {
    width: 2vw;
}
#btnsV1:hover {
    background-color: rgba(255, 255, 255, 0.6);
}
#btnsV2 {
    background-color: rgba(128, 128, 128, 0.8);
    margin-left: 1.5rem;
    color: white;
    width: 17rem;
    height: 3.5rem;
    padding: 0.3rem;
    font-size: 1.3rem;
}
#btnsV2 img {
    width: 2vw;
}
#btnsV2:hover {
    background-color: rgba(128, 128, 128, 0.5);
}

#VideoPlay {
    margin-top: 2vw;
    /* background-color: aqua; */
}

#VideoPlay span {
    font-weight: bold;
    margin-left: 0.5vw;
}
@media (max-width: 1350px) {
    .pageBody {
        background-size: 100% 50vw !important;
    }
    #btnsV2 {
        background-color: rgba(128, 128, 128, 0.8);
        margin-left: 1rem;
        color: white;
        width: 15rem;
        height: 3rem;
        padding: 0.3rem;
        font-size: 1rem;
    }
    #btnsV1 {
        background-color: rgba(255, 255, 255, 1);
        margin-left: 0px;
        width: 15rem;
        height: 3rem;
        padding: 0.3rem;
        font-size: 1.3rem;
    }
    #btnsV1 img {
        width: 1.8rem;
    }
    #btnsV2 img {
        width: 1.8rem;
    }
}
@media (max-width: 1000px) {
    .pageBody {
        background-size: 100% 55vw !important;
    }
    #btnsV2 {
        background-color: rgba(128, 128, 128, 0.8);
        margin-left: 1.5rem;
        color: white;
        width: 12rem;
        height: 2.5rem;
        padding: 0.3rem;
        font-size: 1rem;
    }
    #btnsV1 {
        background-color: rgba(255, 255, 255, 1);
        margin-left: 0px;
        width: 12rem;
        height: 2.5rem;
        padding: 0.3rem;
        font-size: 1rem;
    }
    #btnsV1 img {
        width: 1.2rem;
    }
    #btnsV2 img {
        width: 1.2rem;
    }
}
@media (max-width: 700px) {
    .pageBody {
        background-size: 100% 60vw !important;
    }
    #btnsV2 {
        background-color: rgba(128, 128, 128, 0.8);
        margin-left: 1.5rem;
        color: white;
        width: 12rem;
        height: 2.5rem;
        padding: 0.3rem;
        font-size: 0.8rem;
    }
    #btnsV1 {
        background-color: rgba(255, 255, 255, 1);
        margin-left: 0px;
        width: 12rem;
        height: 2.5rem;
        padding: 0.3rem;
        font-size: 0.8rem;
    }
    .title{
        font-size: 1.3rem !important;
    }

}
@media (max-width: 500px) {
    #btnsV1 {
        background-color: rgba(255, 255, 255, 1);
        margin-left: 0px;
        width: 6.5rem;
        height: 1.8rem;
        padding: 0.1rem;
        font-size: 0.7rem;
    }
    #btnsV2 {
        background-color: rgba(128, 128, 128, 0.8);
        margin-left: 5px !important;
        color: white;
        width: 9rem;
        height: 1.8rem;
        padding: 0px;
        font-size: 0.7rem;
    }
    #btnsV1 img {
        width: 0.7rem;
    }
    #btnsV2 img {
        width: 0.7rem;
    }
    
}

#endBtons {
    /* background-color: blue; */
    width: 100%;
    justify-content: end;
}

#btnsV3 {
    background-color: transparent;
    border: 1px solid white;
    margin-left: 1.5rem;
    color: white;
    width: 2.5vw;
    height: 2.5vw;
    padding: 1px;
    font-size: 1vw;
    border-radius: 50%;
}

#btnsV3 img {
    width: 1.5vw;
}

.age {
    background-color: rgba(51, 51, 51, .6);
    border-left: 3px solid #dcdcdc;
    width: 6.5vw;
    height: 2.5vw;
    padding-left: 1vw;
    align-items: center;
    margin-left: 1vw;
    color: white;
    font-size: 1vw;
    font-weight: bold;
}

/* ----------------------------------------- */

footer .list-group {
    list-style: none;
    margin-left: 20px;
}

.footerIcon {
    color: white;
    margin: 0px 20px;
    font-size: 23px;
}

#footerLinks {
    margin-top: 10px;
    margin-right: 20px;
    padding-left: 28px;
}

.footerLinkItem {
    display: block;
    color: #808080 !important;
    font-size: 14px;
    margin-bottom: 10px;
}

.footerLinkItem:link {
    text-decoration: none;
}

.footerLinkItem:hover {
    text-decoration: underline;
}

#serviceBtn {
    margin-left: 28px;
    padding: 5px;
    color: #808080;
    font-size: 14px;
    border: 1px solid #808080;
    border-radius: 0px;
}

#serviceBtn:hover {
    color: white;
}

#INC {
    margin-left: 28px;
    color: #808080;
    font-size: 11px
}

